#Logoimg {
    height: 25%;
    width: 25%;
}
.jumbotron {
    background-image: url(https://2577343.fs1.hubspotusercontent-na1.net/hub/2577343/hubfs/new%20website%20hero%20background%20image%20%281%29.png?width=1440&name=new%20website%20hero%20background%20image%20%281%29.png);
    padding: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top: -40px;
    margin-bottom: 30px;
    background-attachment: fixed;
    background-position: center -20px;
    color: white;
    text-align: center;
}

#Navbarmain {
    text-align: right;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white !important;
    z-index: 100;
    
    
}
.navbar-collapse {
    position: relative;
    text-align: right;
    right: -35%;
    color: black;
    
    
    
   

}
nav ul a {
    color: grey;
    text-decoration: none;
    
    
}
.navbar-toggler {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}
.navbar-collapse {
padding: 16px;
  border: none;
  position: relative;
  display: inline-block;
  
}
#navlists {
display: hidden;
position: absolute;


}
.firstmenu li a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.firstmenu li a:hover {
   color: #0c63ff;
}

.nav-item1:hover .firstmenu {
    display: block;
}



.secmenu li a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.secmenu li a:hover {
   color: #0c63ff;
}

.nav-item2:hover .secmenu {
    display: block;
}
.contentmaterial {
    text-align: center;
    margin: 5%;
}
.cardhead {
  text-align: center;
  margin-bottom: 15%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .card {
    text-align: left;
   margin-left: 25%;
    border-style: none;
  }
  .card-horizontal1 {
    display: flex;
    flex: 1 1 auto;
  }
  .card1 {
    text-align: right;
   margin-left: 25%;
    border-style: none;
  }
  .row1 {
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
  }
 
  .makepic {
    background-image: url(https://2577343.fs1.hubspotusercontent-na1.net/hub/2577343/hubfs/Brand2Files/Untitled%20design%20%2829%29.png?width=2880&name=Untitled%20design%20%2829%29.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    padding: 10% 10%;
  }

  .card3 {
    border-style:solid black;
    position: relative;
    left: 37%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
   
  }
  .card-body1 {
   
    padding:10%
  }
.card-img-top1 {
    border-style: solid;
    border-radius:100%;
    color: #0c63ff;
    position: absolute;
    top:-13%;
    left:20%;
    height: 22%;
    width: 25%;
   
    
}
.card-text99 {
  color: #0c63ff;
}

.card-text59 {
  color: gray;
}

.bluebanner {
  margin: 10% 10% 0% -37%;
  background-color: #0c63ff;
  width: 176%;
 padding-left: 15%;
 padding-top: 5%;
 padding-bottom: 5%;

}
.bluebanner h4 {
  color: white;
  padding-left: 10%;
}

.bluebanner p1 {
  color: white;
  padding-left: 10%;
}
.bluebanner button {
  background-color: #0c63ff;
 position: relative;
 left: 50%;
}
.bluebanner button:hover {
  background-color: white;
  color: black;
}

#footer1 {
  width: 100%;
  background-color: #f5f7f9;

  margin-top: 0%;
 padding: 0% 10%;
 margin: 0% 10% 0% -37%;
 width: 176%;
padding-left: 15%;
padding-top: 5%;
padding-bottom: 5%
}
#navbarText1 {
  text-align: left;
}

#Logoim {
  width: 50%;
}

.lastfooter {
  background-color: #f5f7f9;
  width: 100%;
  margin-top: 0%;
  padding: 0% 10%;
  margin: 0% 10% 0% -37%;
  width: 176%;
 padding-left: 15%;
 padding-top: 5%;
 padding-bottom: 5%;
}
.justify-content-center {
  border-top: solid gray .009px;
}

.boldthis {
  font-weight: 600;
}